HELP.md
target/
docs/
tools/
empty_dir/
temp_empty_folder/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/resources/ruleset/
src/test

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/java/se/holyfivr/trainer/DevFilePrinter.java
src/main/java/se/holyfivr/trainer/TestDataRunner.java
src/main/resources/ruleset/Base.ruleset
src/main/resources/ruleset/Base.ruleset.bak
old/
last_path.txt
src/main/resources/ruleset/itemblocks.txt
src/main/java/se/holyfivr/trainer/ObjectTransformer.java
src/main/resources/static/img/art/characters.psd
src/main/java/se/holyfivr/trainer/ImageOptimizer.java
