<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

    <li th:classappend="${!rulesetLoaded} ? 'inactive'" th:fragment="character-menu">
        Characters
        <ul class="dropdown">
            <!-- inactive unless opened file -->
            <li><a id="openMaxCards" onclick="openModal('maxCardsTemplate')">
                    <div style="font-weight: bold;">Max Cards</div>
                </a></li>
            <li><a id="openMaxHp" onclick="openModal('maxHpTemplate')">
                    <div style="font-weight: bold;">Max HP</div>
                </a></li>
            <li><a id="enableAll" onclick="openModal('enableAllTemplate')">
                    <div style="font-weight: bold;">Enable All*</div>
                </a></li>
            <!--------------------------------->
            <hr>
            <!-- Scans the provided map-model from the start controller-->
            <li th:each="character : ${characterMap.values()}"><a target="contentFrame"
                    th:href="@{/character/{character}(character = ${character.name})}">
                    <div th:text="${character.getDisplayName()}"> </div>
                </a>
            </li>


        </ul>
    </li>



</body>

</html>