<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

    <li th:classappend="${!rulesetLoaded} ? 'inactive'" th:fragment="item-menu">
        Items
        <ul class="dropdown">
                        <li>
                <a onclick="openEditAllItemsModal()">
                    <div style="font-weight: bold;">Mass Edit</div>
                </a>
            </li>
            <hr>
            <li>
                <a th:href="@{/items/all}" target="contentFrame">
                    <div>All Items</div>
                </a>
            </li>
            <li>
                <a th:href="@{/items/OneHand}" target="contentFrame">
                    <div>One-Handed</div>
                </a>
            </li>
            <li>
                <a th:href="@{/items/TwoHand}" target="contentFrame">
                    <div>Two-Handed</div>
                </a>
            </li>
            <li>
                <a th:href="@{/items/Head}" target="contentFrame">
                    <div>Head</div>
                </a>
            </li>
            <li>
                <a th:href="@{/items/Body}" target="contentFrame">
                    <div>Body</div>
                </a>
            </li>
            <li>
                <a th:href="@{/items/Legs}" target="contentFrame">
                    <div>Legs</div>
                </a>
            </li>
            <li>
                <a th:href="@{/items/SmallItem}" target="contentFrame">
                    <div>Small Items</div>
                </a>
            </li>
            <li>
                <a th:href="@{/items/QuestItem}" target="contentFrame">
                    <div>Quest Items</div>
                </a>
            </li>

        </ul>
    </li>

</body>

</html>