
td {
    margin: 0 auto;
    text-align: center;
}
input {
    text-align: center;
}

#characterPane{
    display: flex;
    margin: 0 auto;
    width: 500px;
    height: 350px;
    border: 3px solid var(--color-light-blue);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.562); 
    color: var(--color-cream);
    text-shadow: 1px 1px 2px black;

}
table {
    margin: 0 auto;
}

#characterBackground {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#characterBackground img {
    position: absolute;
    left: -250px;
    bottom: 0px;
    width: 80%;
    height: 80%;
    object-fit: cover;
    opacity: 0.9;

}
