
td {
    margin: 0 auto;
    text-align: center;
}
input {
    text-align: center;
}

#characterPane{
    display: flex;
    margin: 0 auto;
    width: 500px;
    height: 350px;
    border: 3px solid var(--color-light-blue);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.562);
    color: var(--color-mid-blue);
}
table {
    margin: 0 auto;
}

