/* Color scheme */
:root {
    --color-dark-blue: #1B3C53;
    --color-mid-blue: #234C6A;
    --color-light-blue: #456882;
    --color-cream: #E3E3E3;
}

#itemFrame {
    background-color: var(--color-cream);
    position: absolute;
    top: 65px;
    right: 25px;    
    height: 500px;
    width: 725px;
    border: 2px solid var(--color-light-blue);    
}
#itemListContainer {
    position: absolute;
    top : 65px;
    left: 25px;
    height: 500px;
    width: 200px;
    border: 1px solid var(--color-light-blue);
    overflow-y: auto;
    color: var(--color-dark-blue);
    transition: background-color 0.2s linear, color 0.2s linear;
    background-color: var(--color-cream);
    
}
#itemListContainer td:hover {
    background-color: var(--color-light-blue);
    color: var(--color-cream);
    cursor: pointer;
} 
#itemListContainer a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    border-collapse: collapse;
}

#categoryTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    top: -20px;
    color: var(--color-dark-blue);
}

#searchInput {
    position: absolute;
    top: 30px;
    left: 25px;
    width: 195px;
    height: 25px;
    border: 1px solid var(--color-light-blue);
    padding-left: 5px;
    font-size: 16px;
    color: var(--color-dark-blue);
    border-radius: 5px;
}
#itemImage {
    position: absolute;
    right: 165px;
    top: 125px;
    max-width: 200px;
    max-height: 400px;
    
    margin-top: 10px;
    border: 2px solid var(--color-light-blue);
    border-radius: 10px;
    box-shadow: 4px 4px 4px #0000008f;
}
input[type="text"] {
    border: 1px solid var(--color-light-blue);
    border-radius: 5px;
    padding: 2px;
    font-size: 14px;
    color: var(--color-dark-blue);
    width: 75px;
}
input[type="number"] {
    border: 1px solid var(--color-light-blue);
    border-radius: 5px;
    padding: 2px;
    font-size: 14px;
    color: var(--color-dark-blue);
    width: 84px;
}
.item-attribute-td {
    padding: 5px;
    font-size: 16px;
    color: var(--color-dark-blue);
    width: 175px;
    text-align: right;
}
#selected-item-table {
    border-collapse: collapse;
    margin-top: 5%;
    
    margin-left: 50px;
}
select {
    font-size: 14px;
    color: var(--color-dark-blue);
    width: 90px;
    text-align: center;
    border: 1px solid var(--color-light-blue);
}
#addCondition {
    cursor: pointer;
    color: var(--color-dark-blue);
}
#limitWarning {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: var(--color-dark-blue);
    width: 450px;
    font-style: italic;
    
}
#buttonContainer {
    position: absolute;
    left: 10%;
    transform: translateX(-50%);
    bottom: 30px;
}