#universalModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* Toggled via JS */
    justify-content: center;
    align-items: center;
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#modalContentContainer {
    background-color: var(--color-cream);
    border: 2px solid var(--color-light-blue);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    min-width: 300px;
    position: relative;
}

#closeUniversalModal {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-light-blue);
}

#itemModalInput {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid var(--color-light-blue);
    border-radius: 4px;
}

#toastNotification {
    position: fixed;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-mid-blue);
    color: var(--color-cream);
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 3000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

