/* Basics */
html, body {
    background: transparent !important; /* This is so that the javafx window determines background (removes flicker when changing page)*/
    margin: 0 auto;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Color scheme */
:root {
    --color-dark-blue: #1B3C53;
    --color-mid-blue: #234C6A;
    --color-light-blue: #456882;
    --color-cream: #E3E3E3;
}

/* Iframe */
#contentFrame {
    width: 999px;
    height: 625px;
    border: none;
    border-bottom: 3px inset var(--color-light-blue);
    margin-top: -18px;
}
/* Footer */
#footer {
    position: absolute;
    bottom: 0%;
    background-color: var(--color-light-blue);
    width: 100%;
    height: 25px;
    text-align: center;
    box-shadow: 0px -4px 10px var(--color-light-blue);
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 10px;
    color: var(--color-cream);
}
/* Modals */
#maxCharacterValuesModal {
    display: block;
    position: absolute;
    opacity: 0;
    width: 400px;
    height: 200px;
    border: 2px solid saddlebrown;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    transition: transform 0.2s linear;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.379);
    border-radius: 6px;
    pointer-events: none;
    background-color: darkgray;
}

#backupModal {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    height: 200px;
    width: 400px;
    background-color: blue;
}
.modal-text {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.sidenote {
        flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-style: italic;
}
.modal-content-div {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;    
}


#confirmationModal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-cream);
    color: var(--color-light-blue);
    padding: 20px 40px;
    border: 2px solid var(--color-light-blue);
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.459);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    z-index: 200;
    text-align: center;
}
.confirmation-modal.show {
    opacity: 1;
}
.btn {
    background-color: var(--color-cream);
    border: 2px solid var(--color-light-blue);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--color-mid-blue);
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.1s linear, background-color 0.1s linear, color 0.1s linear;
    border-radius: 3px;
}
.btn:hover {
    background-color: var(--color-light-blue);   
    color: var(--color-cream);
}
.warning-btn:hover {
    background-color: red;
    color: var(--color-cream);
}
#aboutContainer {
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: fit-content;
    border: 3px solid var(--color-light-blue);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.562);
    color: var(--color-mid-blue);

}
.X {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-light-blue);
    text-decoration: none;
}
.item-modal-value-input {
    width: 70px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid var(--color-light-blue);
    border-radius: 4px;
    text-align: center;
}
#itemModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-cream);
    color: var(--color-mid-blue);
    padding: 20px 40px;
    border: 2px solid var(--color-light-blue);
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.459);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    z-index: 200;
    text-align: center;
}