/* Basics */
html, body {
    background: transparent !important; /* This is so that the javafx window determines background (removes flicker when changing page)*/
    margin: 0 auto;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Color scheme */
:root {
    --color-dark-blue: #1B3C53;
    --color-mid-blue: #234C6A;
    --color-light-blue: #456882;
    --color-cream: #E3E3E3;
}

/* Iframe */
#contentFrame {
    width: 999px;
    height: 625px;
    border: none;
    border-bottom: 3px inset var(--color-light-blue);
    margin-top: -18px;
}
/* Footer */
#footer {
    position: absolute;
    bottom: 0%;
    background-color: var(--color-light-blue);
    width: 100%;
    height: 25px;
    text-align: center;
    box-shadow: 0px -4px 10px var(--color-light-blue);
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 10px;
    color: var(--color-cream);
}
.modal-text {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.sidenote {
        flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-style: italic;
}
.modal-content-div {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;    
}
.btn {
    background-color: var(--color-cream);
    border: 2px solid var(--color-light-blue);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--color-mid-blue);
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.1s linear, background-color 0.1s linear, color 0.1s linear;
    border-radius: 3px;
}
.btn:hover {
    background-color: var(--color-light-blue);   
    color: var(--color-cream);
}
.warning-btn:hover {
    background-color: red;
    color: var(--color-cream);
}
#aboutContainer {
    background-color: var(--color-cream);
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: fit-content;
    border: 3px solid var(--color-light-blue);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.562);
    color: var(--color-mid-blue);

}

.info-icon {

    display: flex;
    border: 2px solid var(--color-light-blue);
    width: 15px;
    height: 15px;
    right: 1px;
    justify-content: flex-start;
    text-align: start;
    overflow: hidden;
    border-radius: 15px;
    color: var(--color-light-blue);
    font-weight: bold;
    position: absolute;
    z-index: 1;
    cursor:default;
    
}
.info-icon:hover {
    background-color: var(--color-light-blue);
    transform: translateX(235px) translateY(40px);
    font-weight: normal;
    width: 250px;
    height: fit-content;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    border: 2px solid var(--color-cream);
}

.info-icon-text {
    color: var(--color-cream);
}
   
.info-icon-symbol {
    padding-left: 2.5px;
}