html, body {
    background: transparent !important;
    margin: 0 auto;
    overflow-x: hidden;
}



.header {
    display: flex;
    flex-direction: row;
    border: 1px dotted black;
    box-shadow: 2px 2px 5px black;
    width: 1000px;
    height: 45px;
}
#contentFrame {
    width: 998px;
    height: 642px;
    border: 1px solid rgb(255, 0, 0);
}

#maxCharacterValuesModal {
    display: block;
    position: absolute;
    opacity: 0;
    width: 400px;
    height: 200px;
    border: 2px solid saddlebrown;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    transition: transform 0.2s linear;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.379);
    border-radius: 6px;
    pointer-events: none;
    background-color: darkgray;
}

#maxHp{
    display: none;
}

#maxCards {
    display: none;
}