<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/objects.css}">
    <script th:src="@{/js/objects.js}" defer></script>
</head>

<body>

    <div id="categoryTitle">
        <h1 th:text="${currentClass}"></h1>
    </div>

    <input id="searchInput" placeholder="Search" type="text">
    <div id="objectListContainer">

        <table>
            <tr th:each="abilityCard : ${abilityCards.values()}">
                <td>
                    <a target="objectFrame" th:href="@{/card-details(id=${abilityCard.getName()})}">
                    <div th:text="${abilityCard.getCardName()}"></div>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <iframe id="objectFrame" name="objectFrame" width="600" height="400"></iframe>






</body>