<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/copy.js" type="text/javascript" defer></script>
</head>

<body>
    <div id="aboutContainer"><br>
        <div style="margin: 0 auto; text-align: left; width:500px;">
            <center><p><b>Who am I?</b></p></center>
            <div style="margin: 0 auto; text-align: left; width:500px;">
                I'm a first year student, studying java (among other things), aspiring to become a software developer. I
                made this program as a personal
                project to help me learn more about programming and software development. I'm still very much a novice,
                and I
                have a lot of school stuff to work on (like, a lot!), so please bare with me if updates are slow.
                <br><br>

                <br> Features that are in the pipeline:
            </div>
            <div style="margin: 0 auto; text-align: left;">
                <ul>
                    <li>✅ Edit character life</li>
                    <li>✅ Edit character maximum allowed ability cards</li>
                    <li>✅ Add starting characters <i>(Not all characters can be added yet)</i></li>
                    <li>✅ Edit Item costs and values</li>
                    <li>✅ Edit Ability card values</li>
                    <li>Edit Enchant costs and values</li>
                    <li>Edit town stuff (unlocked buildings, morale, prosperity, etc)</li>
                </ul>
            </div>

            If you want to check out the source code or get in touch, find me on GitHub: <b><a href="#" class="btn"
                    style="border: none;"
                    onclick="copyToClipboard('https://github.com/Holyfivr/')">https://github.com/Holyfivr/</a></b>
        </div>
        <br>



    </div>
</body>

</html>