<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <script th:src="@{/js/script.js}" type="text/javascript" defer></script>
    <script th:src="@{/js/copy.js}" type="text/javascript" defer></script>
</head>

<body>

    <!-- Hidden flag to communicate if file was successfully loaded to JS -->
    <input type="hidden" id="rulesetLoadedCheck" th:value="${rulesetLoaded}" />

    <nav class="menu-bar">
        <ul class="menu">

            <!-------------------------------------------------------------------------------->
            <!-- Character, item, and ability card menus are inactive unless file is opened -->
            <!-------------------------------------------------------------------------------->

            <!-- File menu fragment -->
            <li th:replace="fragments/file-menu-fragment :: file-menu"></li>

            <!-- Character menu fragment -->
            <li th:replace="fragments/character-menu-fragment :: character-menu"></li>

            <!-- Item menu fragment -->
            <li th:replace="fragments/item-menu-fragment :: item-menu"></li>

            <!-- Ability Card menu fragment -->
            <li th:replace="fragments/ability-card-menu-fragment :: ability-card-menu"></li>

            <!-- More menu fragment-->
            <li th:replace="fragments/more-menu-fragment :: more-menu"></li>

        </ul>
    </nav>

    <!-- Modal and toast fragments-->
    <div th:replace="~{fragments/modal-fragments :: modalFragments}"></div>


    <div id="footer">If you encounter any errors or the program doesn't work, place an issue on <a href="#" class="btn"
            style="border: none;"
            onclick="copyToClipboard('https://github.com/Holyfivr/Fivers-Frosthaven-Trainer/')">https://github.com/Holyfivr/Fivers-Frosthaven-Trainer/</a>
    </div>.
    </div>
    <iframe id="contentFrame" name="contentFrame" title="contentFrame" th:src="@{/html/how.html}">

</body>

</html>