<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <script th:src="@{/js/script.js}" type="text/javascript" defer></script>
    <script th:src="@{/js/copy.js}" type="text/javascript" defer></script>
</head>

<body>

    <!-- Hidden flag to communicate if file was successfully loaded to JS -->
    <input type="hidden" id="rulesetLoadedCheck" th:value="${rulesetLoaded}" />

    <nav class="menu-bar">
        <ul class="menu">
            <li>
                File
                <ul class="dropdown">
                    <!-- sends request to open file endpoint and registers a pending action to notify user when file is loaded -->
                    <li><a id="openRulesetLink" th:href="@{/open-file}" onclick="registerPendingAction('fileLoaded')">
                            <div>Open Ruleset</div>
                        </a></li>
                    <hr>
                    <!-- These options are inactive unless a file is loaded -->
                    <li th:classappend="${!rulesetLoaded} ? 'inactive-dropdown'"><a id="newBackup"
                            onclick="openModal('backupTemplate')">
                            <div>Create Backup</div>
                        </a></li>
                    <li th:classappend="${!rulesetLoaded} ? 'inactive-dropdown'"><a id="restoreBackupLink"
                            th:href="@{/restore-backup}" onclick="registerPendingAction('backupRestored')">
                            <div>Restore Original</div>
                        </a></li>
                    <li th:classappend="${!rulesetLoaded} ? 'inactive-dropdown'"><a id="saveRuleset"
                            onclick="openModal('saveTemplate')">
                            <div>Save Ruleset</div>
                        </a></li>
                    <!-------------------------------------------------------->
                    <hr>
                    <li><a th:href="@{/exit}">
                            <div>Exit Program</div>
                        </a></li>
                </ul>
            </li>
            <li th:classappend="${!rulesetLoaded} ? 'inactive'">
                Characters
                <ul class="dropdown">
                    <!-- Scans the provided map-model from the start controller-->
                    <li th:each="character : ${characterMap.values()}"><a target="contentFrame"
                            th:href="@{/character/{character}(character = ${character.name})}">
                            <div th:text="${character.getDisplayName()}"> </div>
                        </a></li>
                    <hr>
                    <!-- inactive unless opened file -->
                    <li><a id="openMaxCards" onclick="openModal('maxCardsTemplate')">
                            <div>Max Cards</div>
                        </a></li>
                    <li><a id="openMaxHp" onclick="openModal('maxHpTemplate')">
                            <div>Max HP</div>
                        </a></li>
                    <li><a id="enableAll" onclick="openModal('enableAllTemplate')">
                            <div>Enable All*</div>
                        </a></li>
                    <!--------------------------------->
                </ul>
            </li>
            <!-- inactive unless opened file -->
            <li th:classappend="${!rulesetLoaded} ? 'inactive'">
                Items
                <ul class="dropdown">
                    <li>
                        <a th:href="@{/items/all}" target="contentFrame">
                            <div>All Items</div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/items/OneHand}" target="contentFrame">
                            <div>One-Handed</div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/items/TwoHand}" target="contentFrame">
                            <div>Two-Handed</div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/items/Head}" target="contentFrame">
                            <div>Head</div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/items/Body}" target="contentFrame">
                            <div>Body</div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/items/Legs}" target="contentFrame">
                            <div>Legs</div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/items/SmallItem}" target="contentFrame">
                            <div>Small Items</div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/items/QuestItem}" target="contentFrame">
                            <div>Quest Items</div>
                        </a>
                    </li>
                    <hr>
                    <!---------------------------------------->
                    <li id="allItemsSeparator">
                        <div>All Items</div>
                    </li>
                    <li>
                        <a id="setGoldCost" onclick="openItemModal('setGoldCost', 'gold cost')">
                            <div>Set Goldcost</div>
                        </a>
                    </li>
                    <li>
                        <a id="setDamage" onclick="openItemModal('setDamage', 'damage')">
                            <div>Set Damage</div>
                        </a>
                    </li>
                    <li>
                        <a id="setShield" onclick="openItemModal('setShield', 'shield')">
                            <div>Set Shield</div>
                        </a>
                    </li>
                    <li>
                        <a id="setHeal" onclick="openItemModal('setHeal', 'heal')">
                            <div>Set Heal</div>
                        </a>
                    </li>
                    <li>
                        <a id="setRetaliate" onclick="openItemModal('setRetaliate', 'retaliate')">
                            <div>Set Retaliate</div>
                        </a>
                    </li>
                    <li>
                        <a id="setMove" onclick="openItemModal('setMovement', 'movement')">
                            <div>Set Movement</div>
                        </a>
                    </li>
                    <li>
                        <a id="setUsage" onclick="openItemModal('setUsage', 'usage to \'unrestricted\' ')">
                            <div>Set Usage</div>
                        </a>
                    </li>
                    <li>
                        <a id="setTotalInGame" onclick="openItemModal('setTotalInGame', 'total available amount')">
                            <div>Set Usage</div>
                        </a>
                    </li>
                    <li>
                        <a id="setProsperityReq" onclick="openItemModal('setProsperityReq', 'prosperity requirement')">
                            <div>Set Prosperity Req</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="inactive">
                Ability Cards
                <ul class="dropdown">

                </ul>
            </li>
            <li>
                More
                <ul class="dropdown">
                    <li><a th:href="@{/html/about.html}" target="contentFrame">
                            <div>About</div>
                        </a></li>
                    <li><a th:href="@{/html/how.html}" target="contentFrame">
                            <div>How it works</div>
                        </a></li>
                    <li><a th:href="@{/html/why.html}" target="contentFrame">
                            <div>Why</div>
                        </a></li>

                    <!--------------------------------->
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Generic Confirmation Modal -->
    <div id="confirmationModal" style="opacity: 0;"></div>

<!------------------------------------------------------ FILE MODALS------------------------------------------------------------->
    <template id="backupTemplate">
        <form id="createBackupForm" th:action="@{/create-backup}" onsubmit="registerPendingAction('backupCreated')">
            <br>
            <div class="modal-text">Name your backup-file</div>
            <br>
            <div class="sidenote">(Any existing file with the same name will be replaced)</div>
            <hr>
            <div class="modal-content-div">
                <input type="text" placeholder="filename" name="name">
            </div>
            <hr>
            <div class="modal-content-div">
                <input class="btn" type="submit" value="Create Backup">
                <a class="btn" href="#" onclick="closeModal()">Close</a>
            </div>
        </form>
    </template>

    <template id="saveTemplate">
        This will override the existing <b>Base.ruleset</b> file,<br>
        even if you are currently working on a backup-file<br><br>
        <br>
        <a class="btn" id="confirmSaveLink" th:href="@{/save}" onclick="registerPendingAction('rulesetSaved')">Save</a>
        <a class="btn" href="#" onclick="closeModal()">Close</a>
    </template>

<!------------------------------------------------------ CHARACTER MODALS ------------------------------------------------------------->
    <template id="maxHpTemplate">
        <h2>Are you sure?</h2>
        <span>This will set all characters HP to 99</span><br><br>
        <a class="btn" th:href="@{/maxhp}" onclick="closeModal();registerPendingAction('hpMaxed')">I am sure</a>
        <a class="btn" href="#" onclick="closeModal()">Nevermind</a>
    </template>

    <template id="maxCardsTemplate">
        <h2>Are you sure?</h2>
        <span>This will set all characters max <br>ability cards in battle to 20.</span><br><br>
        <a class="btn" th:href="@{/maxcards}" onclick="closeModal();registerPendingAction('cardsMaxed')">I am sure</a>
        <a class="btn" href="#" onclick="closeModal()">Nevermind</a>
    </template>

<!------------------------------------------------------ ITEM MODALS ------------------------------------------------------------->

    <div id="itemModal" style="opacity: 0;">
        <a class="X" onclick="closeModal()">X</a>
        <div id="itemModalTitle"></div>
        <form th:action="@{/set-item-value}" target="contentFrame" method="get">
            <input type="hidden" id="actionInput" name="action">
            <input id="itemModalInput" name="value" type="number" required>
            <hr>
            <input id="itemModalSubmitBtn" type="submit" value="Apply">
        </form>
        <div id="itemModalContent"></div>
    </div>

<!------------------------------------------------------ ENABLE STARTERS ------------------------------------------------------------->

    <template id="enableAllTemplate">
        <i>*not all characters can be enabled safely yet</i><br>
        <b>Make the following characters available from start:</b>
        <div style="text-align: left; width: 400px; margin: 0 auto;">
            <ul>
                <li>Pyroclast</li>
                <li>Snowdancer</li>
                <li>Frozen Fist</li>
                <li>Trapper</li>
                <li>Hive</li>
            </ul>
        </div>

        <span style="color: red; font-size: 14px;"><b>Warning</b><br>This is experimental and not extensively tested.
            Enabling new starting characters may cause the game to behave in unexpected ways, or lock you out of quests
            in the game. Use at your own discretion.</span><br><br>
        <a class="warning-btn btn" th:href="@{/enablecharacters}"
            onclick="closeModal();registerPendingAction('charactersEnabled')">I understand</a>
        <a class="btn" href="#" onclick="closeModal()">Nevermind</a>
    </template>
    <div id="footer">If you encounter any errors or the program doesn't work, place an issue on <a href="#" class="btn"
            style="border: none;"
            onclick="copyToClipboard('https://github.com/Holyfivr/Fivers-Frosthaven-Trainer/')">https://github.com/Holyfivr/Fivers-Frosthaven-Trainer/</a>
    </div>.
    </div>
    <iframe id="contentFrame" name="contentFrame" title="contentFrame" th:src="@{/html/how.html}">

</body>

</html>